<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body>
        <div class='w-1/4 mx-auto my-20'>
            <h1>Authentication Form</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-600{% endif %}">{{message}}</div>
                {% endfor %}
            {% endif %}
            <form action="" method='POST'>
                <p>
                    {% csrf_token %}
                    {{form}}
                    <button class='bg-blue-500 px-2 py-1 rounded-sm' type='submit'>Sign In</button>
                </p>
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>